body{
    margin: 0;
    font-family:'Roboto', sans-serif;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 50;
    width: 100%;
}

.rodape{
    background-color: rgb(36, 36, 36);
    margin-top: 100px;
    color: white;
    justify-content: space-around;
    padding: 30px 10vw;
    box-sizing: border-box;
}

.sessao1{
    display: flex;
    justify-content: space-around;
    
}


.bloco{
    color: color;
    display: flex;
    flex-direction: column;
    width: auto;
}
.bloco a:hover, .blocofinal a:hover{
    color: #c9354b;
}

.bloco:not(:last-child){
    
    margin-right: 90px;
}

.blocoinicial{
    margin-right: 200px;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    margin-top: 10px;
}a:hover{
    color: #F95364;
}
footer img{
    width: 35px;
    height: 35px;
}

footer img:not(:last-child){
    margin-right: 20px;
}

.blocoinicial p{
    line-height: 25px;
}
.divtexto{
    width: 300px;
}

h1{
    font-size: 17px;
}


.logo {
    width: 150px;
    height: 45px;
    padding: 15px 0px;
}
.propriedadesfinais{
    display: flex;
    flex-direction: row;

}
.propriedadesfinais a{
    padding: 15px;
}

.propriedadesfinais:not(:last-child){
    padding-right: 30px;
}

.bloco6{
    display: flex;
    justify-content: center;
}

.blocofinal{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 2000px;
    justify-content: space-between;
    
    text-align: center;
    align-items: center;
  
}

.blocofinal a{
    font-size: 16px;
    cursor: pointer;
}
